<%- include('partials/header') %>
<h1>Get Employee ID</h1>
    <form action="/getEmployeeId" method="post">
        <label for="employeeId">Employee ID:</label>
        <input type="text" id="employeeId" name="employeeId" required>
        <button type="submit">Submit</button>
    </form>
<%- include('partials/footer') %>